
$white: #fff;
$block: #000;

$search-bg-color: #edeff4;

$font-color-default: #333;
$font-color-normal: #666;
$font-color-danger: #ff0000;

$button-search-default: #355dc9;
$button-search-hover: #4070f4;
$button-search-active: #3258bf;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-lg: 16px;
$font-size-xlg: 18px;
$font-size-xxlg: 20px;

$border-color-default: #bfbfbf;

$menu-color-default: #717d94;
$menu-color-hover: #478af3;
$menu-color-active: #4382e5;